/* .glide__slides > li > div img {
  width: 100%;
  max-width: 600px;
} */

.caruosel_custom {
  position: relative;
}

.butom_slider {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 2;
}

.butom_slider > button {
  outline: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: transparent;
  margin: 0 0 0 10px;
  border-color: #a9a9a97d;
}

.butom_slider > button:hover {
  background: #fff4f466;
}

.glide__bullet--active {
  background: #203746 !important;
}

.ul-custom {
  margin: 0;
  padding: 0;
  align-items: center;
}

.control_anterior {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.control_anterior > button {
  height: 100%;
  background: #203746;
  border: transparent;
  outline: none;
}

.control_anterior > button:hover {
  background: #00000080;
}

.control_siguiente {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.control_siguiente > button {
  height: 100%;
  background: #203746;
  border: transparent;
  outline: none;
}

.control_siguiente > button:hover {
  background: #00000080;
}

.iconF {
  color: white;
  font-size: 1.5em;
  transition: ease 500ms;
}

.control_siguiente:hover .iconF {
  font-size: 2em;
}

.control_anterior:hover .iconF {
  font-size: 2em;
}

.glide__slides > li > div img {
  max-width: 90%;
  max-height: 150px;
}

.imagesVista {
  text-align: center;
  margin: 10px 0 29px 0;
  max-height: 500px;
}

.imagesVista > img {
  max-height: 500px;
}

.centerCarrousel {
  text-align: center;
}
