.marco-contacto {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 92%;
  height: 90%;
  justify-content: space-evenly;
  /* border: 1px solid rgb(216, 84, 84); */
}

.contac-left {
  width: 50%;
  height: auto;
  /* border: 1px solid blue; */
}

.contac-right {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: 100%;
  /* border: 1px solid pink; */
  background-color: #c4c4c4;
  border-radius: 5px;
}

.contact {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  color: #203746;
  align-items: baseline;

  /* border: 1px solid yellow;     */
}

.title-contact {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.direction {
  width: 50%;
  height: 100%;
}

.direction-p {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-family: "fuente2";
  font-size: 2.4vmin;
}

.title-contact h5 {
  text-decoration-line: underline;
  font-family: "fuente1";
  align-self: center;
  font-size: 2.7vmin;
}

.dia {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  text-align: center;
}

@media (max-width: 500px) {
  .marco-contacto {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 92%;
    height: 90%;
  }

  .contac-left {
    width: 100%;
    height: 100vmin;
  }
  .contac-right {
    
    width: 100%;
    height: 50%;
    /* border: 1px solid pink; */
    background-color: #c4c4c4;
    border-radius: 5px;
    
    margin-bottom: 10px;
  }
  .direction {
    margin-left: 20px;
  }

  .title-contact {
    margin-top: 10px;
  }
  .direction-p {
    margin-bottom: 0.5rem;
  }
}
