.image-collage {
     display: contents;
}

.collageh {
     width: auto;
     height: 100%;
     padding: 16px 0;
     align-items: center;
     display: flex;
     flex-direction: column;
     margin: 20px 20px;
}

.collagev {
     display: none;
}
@media (max-width: 500px) {
     .image-collage {
          display: flex;
          height: 100%;
          padding: 10px 5px;
     }

.collageh {
     display: none;
}

.collagev {
     display: flex;
}
}

