.image-collage {
     display: contents;
}

.contenedor-marco {
     padding: 10px;
}

.collageh {
     width: auto;
     height: 100%;
     padding: 17px 0;
     align-items: center;
     display: flex;
     
     margin: 20px;
}

.collagev {
     display: none;
}
@media (max-width: 500px) {
     .image-collage {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 10px 6px;
     }

.collageh {
     display: none;
}

.collagev {
     display: flex;
}
}

@media (min-width: 501px) and (max-width: 1020px)  {
 .collageh{
      display: flex;
      flex-direction: column;
 }
 
 .contenedor-marco {
      width: auto;
 }
}

