.pie {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: #c4c4c4;
  width: 100vw;
  height: 10vh;
}

.aviso {
  display: flex;
  width: 33.33%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.aviso p {
  margin: 0;
}

.icon-social {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-facebook {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.logo-twitter {
  display: flex;
  margin-top: 0;
  width: 30px;
  height: 31px;
  margin-left: 8px;
  margin-right: 8px;
}
.logo-instagram {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-right: 6px;
}
.logo-youtube {
  display: flex;
  width: 44px;
  height: 38px;
  margin-left: 6px;
  margin-right: 8px;
}

.correo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.correo p {
  margin: 0;
}

.aviso_privacidad {
  text-align: left;
}

@media (max-width: 500px) {
  .pie {
    height: auto;
    flex-direction: column;
  }

  .aviso {
    text-align: center;
    order: 3;
    width: 100%;
  }
  .children-aviso {
    display: flex;
    flex-direction: column-reverse;
  }

  .icon-social {
    order: 1;
    width: 100%;
  }

  .correo {
    order: 2;
    width: 100%;
  }
}
