.proyectos-fondo {
  width: 100vw;
  height: 80vh;
  background-color: #1f3646;
}

.marco-project {
  width: 95vw;
  height: 75vh;
  /* border: 1px solid rgb(216, 84, 84); */
}
.images-project {
  display: flex;
  width: 100%;
  height: 100%;
  /* border: 1px solid yellow; */
  flex-wrap: wrap;
}

.imagen0 {
  display: flex;
  width: 50%;
  height: 50%;
}

.test {
  padding: 15px;
  width: 100%;
  height: 100%;
}

.img-responsive-ht {
  width: 100%;
  max-height: 100%;
}

.modal-title {
  font-size: 3.5vmin;
}
@media (max-width: 768px) {
  .marco-project {
    height: auto;
  }
  .images-project {
    flex-wrap: initial;
    flex-direction: column;
  }

  .imagen0 {
    width: 100%;
  }
  .modal-body {
    height: auto;
  }
}

