
.marco-row {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
}

.row-container {
     display: flex;
     
     width: 100%;
     height: 100%;
     
}

.row-container p {
     color: cornsilk;
     justify-content: center;
     align-content: center;
     
}

.inv {
    
     flex-direction: row-reverse;
}

.row-container ul{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100%;
}
.row-container img {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 80%;
     
}

.row-container h5 {
     /* padding-top: 5px; */
     color: ivory;
     text-align: center;
     font-family: "fuente4";
}

.row-container li {
     /* padding-top: 5px; */
     color: ivory;
     font-family: "fuente4";
}


.row-up {
     display: flex;
     width: 95%;
     height: 45%;
     /* border: 1px solid blue; */
}


.row-down {
     display: flex;
     
     width: 95%;
     height: 45%;
     /* border: 1px solid green; */
}

.imagen-left {
     width: 100%;
     height: 100%;
}